.projects {
  padding: 2em;
  padding-bottom: 4rem;
  //   padding-top: 5rem;
  background-color: var(--color-secondary-background);
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projectsWrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.project {
  border-radius: 2rem 0;
  padding-bottom: 0.5rem;
}

.siteCaption {
  color: var(--color-primary-font);
  font-family: "Raleway", sans-serif;
}

.siteSummary {
  color: var(--color-primary-font);
  font-family: "Raleway", sans-serif;
}

.carouselWrapper {
  margin-top: 20%;
}

@media (min-width: 670px) {
  .projects {
    padding: 4rem;
  }

  .projectsWrapper {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}
