.projectCard {
  background-color: var(--color-card-background);
  color: var(--color-primary-font);
  font-family: "Raleway", sans-serif;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;

    li {
      float: left;
      padding-right: 0.5rem;
      color: var(--color-tertiary-font);
    }
  }
  border-radius: 2rem 0;
}

.projectImage {
  border-radius: 2rem 0 0 0;
}

.cardText {
  padding: 1rem;
}

.cardTitle {
  padding-bottom: 0.5rem;
}

.cardSummary {
  padding-bottom: 0.5rem;
}

@media (min-width: 670px) {
  .projectCard {
    background-color: var(--color-card-background);
    color: var(--color-primary-font);
    font-family: "Raleway", sans-serif;

    ul {
      list-style-type: none;
      font-size: 1.5rem;
      overflow: hidden;

      li {
        float: left;
        padding: 1rem;
      }
    }
    border-radius: 2rem 0;
  }

  .cardText {
    padding: 2rem;
  }

  .cardTitle {
    font-size: 2.5rem;
  }

  .cardSummary {
    font-size: 2rem;
  }
}
