.navigationList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style-type: none;
  padding: 0;
}

.link {
  color: var(--color-primary-font);
  font-family: "Raleway", serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5625rem;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 670px) {
  .navigationList {
    flex-direction: row;
    gap: 2.5rem;
  }

  .link {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.5;
    text-transform: none;
    position: relative;
    text-decoration: none;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 4px;
      bottom: -0.5rem;
      left: 0%;
      background-color: white;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
