/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

/* Custom global styles */
html {
  color-scheme: light;

  --color-primary-font: hsl(0, 0%, 100%);
  --color-secondary-font: hsl(0, 0%, 0%);
  --color-tertiary-font: hsl(0, 0%, 50%);

  --color-primary-background: hsl(0, 0%, 100%);
  --color-secondary-background: hsl(0, 0%, 0%);
  --color-card-background: hsl(0, 0%, 10%);

  --color-primary-button: hsl(0, 0%, 0%);

  --ham-bar-width: 1.5rem;
  --ham-bar-height: 0.125rem;
  --ham-bar-gap: 0.3125rem;
  --ham-height: calc(var(--ham-bar-height) * 3 + var(--ham-bar-gap) * 2);

  --x-width: calc(var(--ham-height) * 1.41421356237);

  --animation-timing: 200ms ease-in-out;
}

section {
  padding: 2rem;
}

.title {
  margin-bottom: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-primary-font);
}

@media (min-width: 670px) {
  .title {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}
